* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: contents;
    background-image: url(https://media2.giphy.com/media/FlodpfQUBSp20/giphy.gif?cid=ecf05e47gppuimu8fgivn799dmnrnjvgep8cgrwooc3xa4zk&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    /* grid-template-rows:  */
    background-color: red;
}




