* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
     /* grid-template-rows:  */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/1004/238/497/night-tree-bear-girl-wallpaper-preview.jpg);
}

h1 {
    font-size: 4vmin;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


p {
font-size: 2vmin
font-family: 'Times New Roman', Times, serif;
color: red; 
text-align: center;

}

div{
    color: greenyellow;

}

#guess-word {
    display: flex;
    justify-content: space-between;
    /* width: 40vw; */
    height: 10vh;
    margin: 80px;
   
}

#guess-word > div {
    width: 80px;
    height: 10vh;
    /* background: red; */
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    

} 

.letter {
    border-bottom: 2px solid red;
                                   
}

 img {
    margin-left: auto; 
    margin-right: auto;
 }








