* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
     /* grid-template-rows:  */
    background-image: url(https://c4.wallpaperflare.com/wallpaper/1004/238/497/night-tree-bear-girl-wallpaper-preview.jpg);
}

h1 {
    font-size: 4vmin;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


p {
font-size: 2vmin
font-family: 'Times New Roman', Times, serif;
color: red; 

}

div{
    color: greenyellow;
    
}






